.footer{
    margin: 10px auto;
    display: flex; /*links aligned side by side*/
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px solid #797979;
    border-top: 1px solid #3c8fd8; */
    border-top: 1px solid #f89602;
    padding: 15px 0;
    color: #026ac5;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

/*------- media query ------*/
@media (max-width: 600px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}
